.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-body{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.App-input {
    width: 45%;
    margin-top: 40px;
	height: 600px;
	border: 3px solid #cccccc;
    font-size: 1.16em;
	padding: 15px;
}
.App-output {
    width: 45%;
    margin-top: 40px;
	height: 600px;
    padding: 15px;
    text-align: left;
}